.container{
    margin: 2% 20%;
    border-style: groove;
    padding: 50px 50px 50px 50px;
    position: relative;;
}
.insert{
    width: 100%;
    border-style: outset;
    border-top: none;
    border-right: none;
    border-left: none;
    
    font-family: Arial;
    font-size: 14px;
    padding: 1%;
}   
.save{
    position: absolute;
    right:    5%;
    bottom:   2%;

    background-color:#347FFE;
    border-radius: 6px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px;

}