<div class="container">
  <h3>To Do : </h3>
  <div *ngFor="let item of items">
    <div>
      <app-to-do-items (isWorkCompleted)='changeIsCompleted($event)' (value)='getValue($event)' [doItem]="item"></app-to-do-items>
    </div>
  </div>
  
  <div>
    <h5>what do you need to do?</h5>
    <div>
      <input class="insert" type="text" #addToDoItem  />
    </div>
    <hr>
    <div>
      <button   class="save" (click)="addEvent(addToDoItem.value)" (click) = "addToDoItem.value = ''">Save Item</button>
    </div>
  </div>
</div>

