.column {
    flex: 50%;
    padding: 10px;
    margin: 2px 5px;
}
.row {
    display: flex;
  }
  .column.data {
    border-style: outset;
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;
    
    
 }
 
 .column.button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: none;
    border: none;
 }

 .work-done{
    text-decoration: line-through;
 }

 