<div class="row">
  <label [class.work-done]="doItem.isDone" class="column data">{{doItem.work}}</label> 
  <button (click)="changeCompletion(doItem)"class="column button"><i class="fa fa-check" aria-hidden="true" style="font-size:30px;"></i></button>
  <button (click)="deleteItem(doItem.value)" class="column button"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:30px;color:red;"></i></button>
</div>
